{% extends "tube_extension/base.html" %}


{% block main %}
<li>{{object.link}}</li>

<iframe width="560" height="315" src="{{'https://www.youtube.com/embed/'|add:object.link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: '{{object.link}}',
         
        });
      }
      function OnButtonClick(){
          player.playVideo();
      }
      
     
    </script>
            
    <button type="button" value="Exec" onclick="OnButtonClick();">再生</button>

{% endblock %}

